<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}TASTY!{{else}}GET YOUR EAT ON!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>